<div class="container py-5">

	<div class="row mx-5 py-5 text-center">
		<button class="btn m-2" style="background-color: #F1FFFA" *ngIf="!isGenarateTable" (click)="addFeild()">
                  Add Field
                </button>
		<button class="btn m-2" style="background-color: #F1FFFA"  *ngIf="!isGenarateTable" (click)="addColumn()">
                  Add Column
                </button>
		<button class="btn m-2" style="background-color: #93B7BE" *ngIf="!isGenarateTable" (click)="genarateTable()">
                  Genarate Table
                </button>
		<button class="btn m-2" style="background-color: #D5C7BC" *ngIf="isGenarateTable" (click)="onEdit()">
                  Edit Table
                </button>
		<!-- <button class="btn m-2 float-rigth" style="background-color: #FFFFFF" *ngIf="isGenarateTable" (click)="submitTable()">
                  Save Table
                </button> -->
	</div>

	<table class="table table-dark shadow mb-5" *ngIf="!isGenarateTable">
		<thead class="bg-b">
			<tr>
				<th *ngFor="let fieldList of customTable.field; let i = index" class="solid-0">
					<input (change)="onKeyin('field', $event, i)" value="{{fieldList}}" type="text"
                        class="form-control bg-dark text-white">
                    </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let columnList of customTable.column; let idFeild = index">
				<td *ngFor="let column of columnList; let idColumn = index" class="solid-0">
					<input (change)="onKeyin('column', $event, idFeild, idColumn)" value="{{column}}" type="text"
                        class="form-control bg-dark text-white-50 solid-dark">
                    </td>
			</tr>
		</tbody>
	</table>

	<table class="table table-dark table-hover shadow mb-5" *ngIf="isGenarateTable">
		<thead>
			<tr>
				<th *ngFor="let fieldList of customTable.field" class="text-warning">
					{{fieldList}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let columnList of customTable.column" class="solid-0">
				<td *ngFor="let column of columnList">
					{{column}}
				</td>
			</tr>
		</tbody>
	</table>


	<p *ngIf="isGenarateTable" class="text-white-50">JSON : {{getString()}}</p>

</div>